{% extends 'base.html' %} {% block content %} {% if generic_info['Logo'] %}
<img src="{{ generic_info['Logo'] }}" />
{% endif %}
<h1>{{ generic_info['Stock Name'] }} - Stock Information</h1>

<div>
	<div id="chart-container"  style="height: 500px; width: 1000px; text-align: center; padding-top: 10px;"></div>
</div>

<table class="table" style="padding-top: 15px;">
	<thead class="table-light">
		<th>Info</th>
		<th>Value</th>
	</thead>
	<tbody>
		{% for key in generic_info.keys() %}
		<tr>
			<td>
				<strong>{{ key }}</strong>
			</td>
			<td>{{ generic_info[key] }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<h3 style="padding-top: 15px;">Today's Info</h3>
{% if ohlc_data.status != "failure" %}
<table class="table">
	<thead class="table-light">
		<th>Info</th>
		<th>Value</th>
	</thead>
	<tbody>
		{% for key in ohlc_data.data.keys() %}
		<tr>
			<td>
				<strong>{{ key }}</strong>
			</td>
			<td>{{ ohlc_data.data[key][0] }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endif %}
<h3 style="padding-top: 10px;">Stock Fundamental Details</h3>
<table class="table">
	<thead class="table-light">
		<th>Info</th>
		<th>Value</th>
	</thead>
	<tbody>
		{% for key in fundamental_data.keys() %}
		<tr>
			<td>
				<strong>{{ key }}</strong>
			</td>
			<td>{{ fundamental_data[key] }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<h3>Company Cash Flow</h3>
<div>
	{% for data in cash_flow_info %}
	<div id="{{data.title}}" style="height: 500px; width: 1000px; text-align: center; padding-top: 10px;"></div>
	{% endfor %}
</div>
<script src="https://cdn.jsdelivr.net/npm/echarts@5.5.1/dist/echarts.min.js"></script>
<script>
	var cash_flow_info = {{ cash_flow_info | tojson }};
	for (var i=0; i<cash_flow_info.length; i++) {
		var item = cash_flow_info[i]
		  var myChart = echarts.init(document.getElementById(item.title));
		  var option = {
			  title: {
				  text: item.title
			  },
			  tooltip: {},
			  xAxis: {
				  data: item.dates
			  },
			  yAxis: {},
			  series: [{
				  type: "bar",
				  data: item.values
			  }]
		  };
		  myChart.setOption(option);
	}

	let chart = echarts.init(document.getElementById('chart-container'));
        let intervalId;

        function fetchData() {
            const symbol = '{{ generic_info["Stock Symbol"] }}';
            const exchange = "NSE";
            
            fetch(`/fetch_ohlc/${symbol}/${exchange}`)
                .then(response => response.json())
                .then(result => {
                    if (result.status === 'success') {
                        updateChart(result.data);
                    } else {
                        console.error('Error fetching data:', result.message);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        function updateChart(data) {
            const option = {
                title: {
                    text: 'Stock Price Chart',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross'
                    }
                },
                xAxis: {
                    type: 'category',
                    data: data.map(item => item[0]),
                    scale: true
                },
                yAxis: {
                    type: 'value',
                    scale: true
                },
                series: [{
                    type: 'candlestick',
                    data: data.map(item => [
                        item[1],
                        item[2],
                        item[3],
                        item[4]
                    ]),
                    itemStyle: {
                        color: '#00da3c',
                        color0: '#ec0000',
                        borderColor: '#008F28',
                        borderColor0: '#8A0000'
                    }
                }],
                dataZoom: [
                    {
                        type: 'inside',
                        start: 0,
                        end: 100
                    },
                    {
                        show: true,
                        type: 'slider',
                        top: '90%',
                        start: 0,
                        end: 100
                    }
                ]
            };
            
            chart.setOption(option, {notMerge: true}); 
        }

        fetchData();

        intervalId = setInterval(fetchData, 5000);

        window.addEventListener('resize', function() {
            chart.resize();
        });

        window.addEventListener('beforeunload', function() {
            clearInterval(intervalId);
        });

</script>
{% endblock %}
